.advert {
  @apply flex justify-center items-center min-h-[80vh] mx-10;

  > .wrapper {
    @apply flex flex-col bg-white rounded-2xl mx-auto items-center justify-between;
  
    @screen md {
      @apply flex-row !important;
    }
  }
  .ad-image {
    @apply h-[1350px] w-[1080px]
  }
  &-background {
    background-image: var(--bcad-bg-url, none);
    @apply relative w-full h-full bg-cover bg-center rounded-2xl overflow-hidden;
  }
  .image-top img,
  .image-bottom img {
    background-image: var(--bcad-bg-url, none);
  }
  .overlay-text {
    @apply absolute text-white text-center p-4;
    @apply w-full h-full flex flex-col justify-center align-middle;
    background: rgba(0, 0, 0, 0.5); /* Optional: Add a dark overlay for readability */
  }
  &-image-section {
    @apply bg-gray-100 aspect-[4/5] w-full min-w-[40%] bg-no-repeat;
  }
  &-content-section {
    @apply my-10 text-center px-6;
  
    h3 {
      @apply text-center text-gray-800 font-medium my-2;
    }
  
    h4 {
      @apply text-center text-gray-600 font-medium my-2;
    }
  
    p {
      @apply text-gray-500 my-2;
    }
  }
  .info-long {
    @apply prose max-w-none text-left mx-auto;
  }
  
  .sign-up-form {
    @apply mt-6;
  }
  
  .share-buttons {
    @apply mt-4;
  }
}

.single-content {
  .advert {
    .ad-image {
      @apply h-auto w-auto
    }
  }
}
.acf-block-preview {
  .advert {
    .ad-image {
      @apply h-auto w-auto
    }
  }
}


  